# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [12]:
# "tobs" is "temperature observations"
temperature_df = pd.read_csv('Resources/hawaii_measurements.csv')
temperature_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [16]:
temperature_df.dropna(subset = ["prcp"], inplace=True)
temperature_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18103 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  18103 non-null  object
 1   date     18103 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     18103 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 707.1+ KB

In [17]:
temperature_df

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
5      USC00519397  2010-01-07  0.06    70
...            ...         ...   ...   ...
19543  USC00516128  2017-08-17  0.13    72
19545  USC00516128  2017-08-19  0.09    71
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

[18103 rows x 4 columns]

In [3]:
# Convert the date column format from string to datetime
temperature_df['date'] = pd.to_datetime(temperature_df['date'], format='%Y-%m-%d')
temperature_df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [4]:
# Set the date column as the DataFrame index
# Drop the date column
temperature_df.set_index('date',inplace=True)
temperature_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [5]:
import scipy.stats as stats

In [6]:
# Filter data for desired months
temperature_Jun_df = temperature_df.loc[(temperature_df.index.month==6)]
temperature_Dec_df = temperature_df.loc[(temperature_df.index.month==12)]

In [7]:
# Identify the average temperature for June
average_Jun = round(temperature_Jun_df["tobs"].mean(),2)
print(f'The average temperature for June is {average_Jun}.')

The average temperature for June is 74.94.

In [8]:
# Identify the average temperature for December
average_Dec = round(temperature_Dec_df["tobs"].mean(),2)
print(f'The average temperature for Dec is {average_Dec}.')

The average temperature for Dec is 71.04.

In [9]:
# Create collections of temperature data
temperature_Jun = temperature_Jun_df["tobs"].tolist()
temperature_Dec = temperature_Dec_df["tobs"].tolist()

In [10]:
# Run paired t-test
stats.ttest_ind(temperature_Jun, temperature_Dec)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

I will use a paired t-test as we compared the means of the same group. And the lower the p-value, the less likely the results are due purely to chance. i.e. in this case, the mean temperature observations are of the same stations, just for different time points. <br/>
__The null hypothesis (H0):__<br/>
The mean of the paired differences equals zero in the population. <br/>
__The alternative hypothesis (H1)__<br/>
The mean of the paired differences does not equal zero in the population.<br/>

The p-value,pvalue=3.9025129038616655e-191, I got from the calculation is less than 0.05.<br/>
If a p-value < 0.05, we should reject the null hypothesis and __accept the alternative hypothesis__.<br/>

In other words, there is a meaningful difference between the June and December temperatures in Hawaii. This difference has very little to do with the random sampling itself. The variance obtained from the sample is consistent with the actual weather conditions in Hawaii.